<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Repositories-->
    <bean id="studentRepository" class="com.example.repositories.StudentRepository"/>

    <bean id="courseRepository" class="com.example.repositories.CourseRepository" />

    <!--Services-->
    <bean id="studentService" class="com.example.services.StudentService" init-method="initializeData">
        <constructor-arg ref="studentRepository" />
        <constructor-arg ref="courseRepository" />
    </bean>

    <bean id="courseService" class="com.example.services.CourseService" init-method="initializeData">
        <constructor-arg ref="courseRepository" />
    </bean>


</beans>